.footer__link {
    color: white;
    position: relative;
    margin-left: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    }
    .footer__link:hover {
        opacity: 0.8;
    }
    @media all and (max-width: 1023px) and (min-width: 768px) {
        .footer__link  {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
        }
    }
    @media all and (max-width: 767px) {
        .footer__link {
            margin: 32px 0px 0px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;
        }
        .footer__link:first-child {
            margin: 0;
        }
    }