.lead__title {
    max-width: 720px;
    color: white;
    margin: 0px 132px;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    text-align: center; 
    }
    @media all and (max-width: 1279px) and (min-width: 1024px) {
        .lead__title {
            min-width: 720px;
            margin: 0px 104px 0px;
        }
    }
    @media all and (max-width: 1023px) and (min-width: 768px) {
        .lead__title {
            margin: 0px 24px 0px;
        }
    }
    @media all and (max-width: 767px) {
        .lead__title {
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 44px;
            text-align: center;
            max-width: 288px;
            margin: 0px 16px 0px;
        }
    }