.cover__background {
    width: 100%;
    min-height: 62.5vw;
    position: relative;
    z-index: 1;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }
    .cover__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 350ms ease;
    }
    .cover__background:hover::before {
        opacity: 0.8;	
    }
    @media all and (max-width: 1023px) and (min-width: 768px) {
        .cover__background {
            max-width: 768px;
        }
        .cover__background::before {
            max-width: 768px;
        }
    }