.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    text-decoration: none;
    margin: 0;
    }
    @media all and (max-width: 1023px) and (min-width: 768px) {
        .cover__title {
            max-width: 560px;
        }
    }
    @media all and (max-width: 767px) {
        .cover__title {
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 35px;
        }
    }