.footer {
    display: flex;
    margin: 92px auto 0px;
    padding-bottom: 24px;
    min-width: 928px;
    max-width: 1184px;
    }
    @media all and (max-width: 1023px) and (min-width: 768px) {
        .footer {
            margin: 88px auto 0px;
            max-width: 720px;
            min-width: 700px;
        }
    }
    @media all and (max-width: 767px) {
        .footer {
            display: flex;
            min-width: 186px;
            margin: 64px auto 16px;
            flex-direction: column;
        }
    }